{% load i18n %}
<section class='title'>
	<h1> TITLE </h1>
	<canvas class='img'></canvas>
</section>

<section class='summary'>
	<section class='ingredients'>
		<h2>{%trans  "List of ingredients" %} </h2>
		<ul><li>Ingredient 1</li><li>Ingredient 2</li></ul>
	</section>

	<section class='description'>
		<h2>{%trans "Description" %}</h2>
		<p> Description of recipe will be here. </p>
	</section>

	<section class='duration'>
		<h2>{% trans "Duration" %} </h2>
		<p> 120 min.</p>
	</section>

	<section class='difficulty'>
		<h2>{% trans "Difficulty" %}</h2>
		<p> Hard </p>
	</section>
</section>

<section class='steps'>
	<h2>{% trans "Steps" %}</h2>
	<ul>
		<li>
		<label> MINCE ONION WITH THE KNIFE </label>
		<p>Comment</p>
		<ul></ul>
		<li>
	</ul>
</section>
<section class='bottom'>
	<input type='button' class='cicleButton acceptButton' id='acceptDetails' />
</section>