<link rel='stylesheet' href='{{MEDIA_URL}}css/styleBall.css' type='text/css' media='screen'> 
<script type='text/javascript' src='{{MEDIA_URL}}js/interactiveBall.js'> </script> 
<section id='box_information'>
  <section id='information'>
    <section class='centerUpload'>
      <canvas id='ballButton'></canvas>
    </section>

    <p contenteditable="true" id='currentStep'></p>
  </section>
  <section class='box_ball'>
    <canvas id='ball' class='ballNormal'></canvas>
    <nav id='ballContainer'>
      <ul>
      </ul>
    </nav>
  </section>
</section>
