{%extends "recipes/baseForm.html"%}

{% block title %}
<h1> DEFINE RECIPE </h1>
{% endblock %}

{%block contentForm %}
<form id='formRecipe' action='set_recipe_data' method='POST' enctype="multipart/form-data"> {% csrf_token %}
  <fieldset>
    <!-- <p contenteditable="true" id='title2'>Insert Title</p> -->
    <input type='text' id='title' name='form-0-title' placeholder=" Insert Title"/>
    <textarea placeholder="Insert description optional" name='form-0-description' id='description'></textarea>
  <p>
    <section id='nPers' class='box_slider'>
      <label for='numberP'> Number Pers. </label>
      <input class='slider_text' type="numberP" maxlength='3' id='nPerson' name='form-0-nPerson'/>
      <aside class="slider"></aside>
    </section>
  </p>
  <p>
    <section id='timeRecipe' class='box_slider'>
      <label for='numberT'> Time (min) </label>
      <input class='slider_text' type="numberT" maxlength='3' id='time' name='form-0-time'/>
      <aside class="slider"></aside>
    </section>
    
  </p>
  <p>
  <label for='number'> Difficulty </label>
  <nav>
    <select id='difficult' name='form-0-difficult'>
      <option value="INTERMEDATE">Medium</option>
      <option value="EASY">Easy</option>
      <option value="HARD">Hard</option>
    </select>
  </nav>
  </p>
  <input type="file" name="form-0-img" id="img" />
  </fieldset>
</form>

<script type='text/javascript'>
  $(function(){
    addSlider('nPers',0,10,4);
    addSlider('timeRecipe',0,360,30);
    $('#recipeForm #cancelForm').hide();
    $('#recipeForm #acceptForm').click(function(){
      setState('process');
      $('#formRecipe').trigger('submit');
    });
  });
</script>
{%endblock%}